*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #fff;
    --background-color: #E5E5E5;
}

.header {
    min-height: 740px;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__container {
    width: 100%;
    max-width: 1110px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 112px;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.header__burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

.header__burger_line:last-child {
    margin-bottom: 0;
}

.header__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto 16px;
    max-width: 734px;
}

.header__subtitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--white-color);
    max-width: 734px;
    margin: 0 auto;
}

.about {
    min-height: 1080px;
    position: relative;
}

.about__info {
    background-color: #F7F7F7;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 300px;
    max-width: 1110px;
    padding: 57px 130px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

.about__grid-item {
    width: 190px;
}

.about__h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 72px;
    color: var(--accent-color);
    margin-bottom: 5px;
    text-align: center;
}

.about__h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.about__p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--gray-color);
    text-align: center;
}

.about__projects {
    padding-top: 250px;
    padding-bottom: 100px;
}

.about__h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: var(--dark-color);
}

.about__projects-flex {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
}

.about__projects-item {
    max-width: 350px;
    margin-right: 30px;
}

.about__projects-item:last-child {
    margin-right: 0;
}

.about__project-img {
    display: block;
    max-width: 100%;
}

.about__h3 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--dark-color);
    margin-bottom: 13px;
}

.about__h3::before {
    content: '';
    display: block;
    width: 55px;
    height: 6px;
    background-color: var(--accent-color);
    margin-top: 45px;
    margin-bottom: 15px;
}

.about__projects-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--gray-color);
}

.feedback {
    min-height: 181px;
    background-color: var(--accent-color);
    margin-bottom: 150px;
}

.feedback__container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 30px;
}

.feedback__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback__h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;

}

.feedback__h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-transform: uppercase;
    padding-top: 6px;
}

.feedback__request {
    border: none;
    width: 175px;
    height: 49px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.feedback__request:hover, .feedback__request-modal:hover {
    border: none;
    box-shadow: 2px 3px 10px #404149;
    transition: box-shadow 0.3s ease-out;
}

.feedback__request:active, .feedback__request-modal:active {
    border-style: none;
    background-color: #f18c7a;
    transition: background-color 0.3s ease-out;
}

.feedback__icon {
    vertical-align: middle;
    margin-right: 15px;
}

.sevices {
    margin-bottom: 150px;
}

.services__container {
    max-width: 1110px;
    margin: 0 auto;
}

.services__h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 58px;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}

.services__grid-item {
    background-color: #F7F7F7;
    padding: 59px 92px 59px 86px;
    text-align: center;
}

.services__img {
    margin-bottom: 16px;
}

.services__h4 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    max-width: 172px;
    display: block;
    margin: 0 auto;
}

.portfolio {
    margin: 0 auto 150px;
}

.portfolio_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}

.portfolio__img {
    display: block;
    width: 100%;
    height: 100%;
}

.question {
    margin-bottom: 140px;
}

.question__container {
    max-width: 1110px;
    margin: 0 auto;
}

.question__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
}

.question__item {
    margin-bottom: 36px;
}

.question__item-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin-bottom: 20px;
}

.question__item-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--gray-color);
    margin-bottom: 36px;
    max-width: 730px;
}

.question__item-h3.close+.question__item-p {
    display: none;
}

.partners {
    min-height: 364px;
    background-color: var(--dark-color);
    margin-bottom: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.partners__container {
    max-width: 1110px;
    margin: 0 auto;
}

.partners__h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}

.partners__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__flex-item {
    max-width: 170px;
    margin-right: 40px;
}

.partners__flex-item:nth-child(5n) {
    margin-right: 0;
}

.reviews {
    margin-bottom: 144px;
}

.reviews__container {
    max-width: 1110px;
    margin: 0 auto;
}

.reviews__h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

.reviews__flex {
    display: flex;
}

.reviews__flex-item {
    margin-right: 30px;
}

.reviews__flex-item:last-child {
    margin-right: 0;
}

.reviews_gray-block {
    margin-bottom: 30px;
    background-color: #F7F7F7;
    padding: 35px 30px 36px;
}

.reviews__marks {
    margin-bottom: 18px;
}

.reviews__quotation {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.45;
    color: var(--gray-color);
}

.reviews__author {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 21px;
    line-height: 1.48;
    letter-spacing: 0.02em;
    color: #000000;
}

.reviews__author.accent {
    color: var(--accent-color);
}

.contacts {
    margin-bottom: 150px;
}

.contacts__container {
    max-width: 1110px;
    margin: -50px auto 150px;
}

.contacts__h2 {
    margin-bottom: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.47;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.contacts__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
}

.contacts__icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 12px;
}

.contacts__h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: var(--gray-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.contacts__p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
}

.contacts__a {
    text-decoration: none;
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.footer {
    background-color: var(--dark-color);
}

.footer__container {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #FFFFFF;
}

/* Всплывающее меню */

.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.sidenav .collapsible {
    margin: 0;
}

.sidenav li {
    float: none;
    line-height: 48px;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
    margin: 8px 0 0 0;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.sidenav a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/* Модальное окно */

.modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 30px 30px;
    max-height: 80%;
    width: 55%;
    max-width: 600px;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal::after {
    position: absolute;
    content: "";
    background-image: url();
}

.modal:focus {
    outline: none;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4 {
    margin-top: 0;
}

.modal .modal-content {
    padding: 0;
}

.modal .modal-close {
    cursor: pointer;
    color: #fff;
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-small,
.modal .modal-footer .btn-flat {
    margin: 6px 0;
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 70%;
}

.modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.modal__h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.modal__h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--gray-color);
    margin-bottom: 36px;
    text-align: center;
}

.modal__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}
.modal__form-item {
    display: flex;
    flex-direction: column;
}

.modal__form-label {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: var(--accent-color);
    letter-spacing: 0.025em;
    margin-bottom: 10px;
}

.modal__form-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: var(--dark-color);
    padding: 10px 10px;
    border: var(--accent-color) dotted 1px;
    border-radius: 6px;
}

.modal__form-text:focus {
    outline: var(--accent-color) solid 1px;
    box-shadow: var(--gray-color) 2px 3px 3px;
    border: none;
    transition: all 0.3s ease-out;
}

.modal__form-option:checked {
    background-color: var(--accent-color);
}

.feedback__request-modal {
    background-color: var(--accent-color);
    padding: 12px 30px;
}

.modal__close-icon .modal-close {
    color: var(--dark-color);
    position: absolute;
    top: 15px;
    right: 15px;
}


@media (min-width: 769px) and (max-width: 1280px) {
    .about__info {
        padding: 40px 15px;
    }

    .about__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .about__projects {
        padding: 450px 15px 110px 15px;
    }

    .portfolio_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .question {
        padding-left: 15px;
        padding-right: 15px;
    }

    .partners {
        padding: 100px 15px;
    }
}

@media (min-width: 769px) and (max-width: 1112px) {
    .header__container {
        padding: 0 15px;
    }

    .feedback__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .services__grid {
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }

    .portfolio {
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio__img {
        width: 100%;
    }

    .partners {
        padding: 100px 15px;
    }

    .partners__flex {
        justify-content: center;
    }

    .partners__flex-item {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .partners__flex-item:nth-child(5n) {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .reviews__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px 30px;
    }

    .footer__container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
    }

    .sidenav.sidenav-fixed.right-aligned {
        -webkit-transform: translateX(105%);
        transform: translateX(105%);
    }

    .sidenav>a {
        padding: 0 16px;
    }

    .sidenav .user-view {
        padding: 16px 16px 0;
    }

    .modal {
        width: 80%;
    }
}


@media (max-width: 768px) {
    .header__container {
        padding: 0 15px;
    }

    .header__title {
        font-size: 50px;
        line-height: 1.3;
    }

    .header__title,
    .header__subtitle {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about__info {
        position: relative;
    }

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .about__projects {
        padding: 0px 15px 80px 15px;
        margin-top: -50px;
    }

    .about__projects-flex {
        flex-direction: column;
        align-items: center;
    }

    .about__projects-item {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .about__projects-item:last-child {
        margin-bottom: 0;
    }

    .feedback {
        margin-bottom: 80px;
    }

    .feedback__h2 {
        font-size: 40px;
    }

    .feedback__h3 {
        font-size: 20px;
    }

    .feedback__container {
        padding: 30px 15px;
    }

    .feedback__flex {
        flex-direction: column;
        text-align: center;
    }

    .feedback__request {
        margin-top: 30px;
    }

    .sevices {
        margin-bottom: 80px;
    }

    .services__h2 {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }

    .services__grid {
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .services__grid-item {
        width: 100%;
    }

    .portfolio {
        margin-bottom: 80px;
    }

    .portfolio_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .question {
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .partners {
        padding: 100px 15px;
        margin-bottom: 80px;
    }

    .partners__flex {
        justify-content: center;
    }

    .partners__flex-item {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .partners__flex-item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .reviews {
        margin-bottom: 80px;
    }

    .reviews__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reviews__container {
        max-width: 700px;
    }

    .reviews__flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .reviews__flex-item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .contacts {
        margin: 120px auto 80px;
    }

    .contacts__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 0;
    }

    .footer__container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer__flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer__p {
        margin-bottom: 30px;
        text-align: center;
    }

    .footer__p:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 488px) {
    .modal__h4 {
        font-size: 28px;
        color: #000;
    }
    
    .modal__h5 {
        font-size: 14px;
    }

    .modal__form-label {
        font-size: 18px;
        line-height: 1.1;
    }
}

